<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ni yi dneg lu</h1>
    <% include header %>
  </body>
</html>