<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<img src="http://o70i3vk8v.bkt.clouddn.com/my.png" alt="">
    <h1>ni yi dneg lu</h1>
    <% include header %>
  </body>
</html>