<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <img src="http://o70i3vk8v.bkt.clouddn.com/my.png" alt="">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% include header %>
  </body>
</html>
