<!DOCTYPE html>
<html>
  <head>
    <title>注册</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>注册</h1>
    
    <form action="/register" method="post" >
       <p><input type="text" name="name" placeholder='用户名'></p>
       <p><input type="password" name="password" placeholder='密码' ></p>
       <p><input type="password" name="confirm_password" placeholder='确认密码' ></p>
       <p><input type="submit" value="提交"></p>
    </form>
  </body>
</html>